/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
    background: #01579B;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #05a799;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #01579B;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }


.button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff,#009688);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #009688;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #009688;
}

.button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right,#009688, #00c6ff);
}

.button-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; 

   
}
