@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


/***************************GERAIS*****************************/
/**************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --light-blue: #03a9f4;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --yellow: #f8b300;
    --dark-yellow: #c77000;

}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: var(--light-blue);
    border-left: 10px solid var(--light-blue);
    z-index: 100;
    transition: all .5s ease;
    
}

.container.close {
    width: 80px;
}



.container .logo {
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;

}

.container .logo .icon img {
    left: 0;
    top: 10px;
    color: var(--white);
    font-size: 30px;
    height: 60px;
    min-width: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 18px;
    
}

.container .logo .title {
    font-size: 30px;
    color: var(--white);
    font-weight: bold;
    transition: all .3s ease;
    transition-delay: .1s;
}

.container.close .logo .title {
    opacity: 0;
    pointer-events: none;
}

.container .nav-list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.container.close .nav-list {
    overflow: visible;
}

.container .nav-list::-webkit-scrollbar {
    display: none;
}

.container .nav-list li {
    position: relative;
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius:  20px;
}


.container .nav-list li:hover,
.container .nav-list li.hovered {
    background-color: var(--white);
}


.container .nav-list li:hover > a::before,
.container .nav-list li.hovered > a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.container .nav-list li:hover > a::after, 
.container .nav-list li.hovered > a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;

}

.container .nav-list .sub-menu li:hover > a::before,
.container .nav-list .sub-menu li:hover > a::after,
.container .nav-list .sub-menu li.hovered > a::before,
.container .nav-list .sub-menu li.hovered > a::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
}

.container .nav-list .sub-menu li:hover > a::before,
.container .nav-list .sub-menu li.hovered > a::before {
    top: -50px;
    box-shadow: 35px 35px 0 10px var(--white);
}

.container .nav-list .sub-menu li:hover > a::after,
.container .nav-list .sub-menu li.hovered > a::after {
    bottom: -50px;
    box-shadow: 35px -35px 0 10px var(--white);
}

.container .nav-list li:hover .icon-link::before,
.container .nav-list li:hover .icon-link::after,
.container .nav-list li.hovered .icon-link::before,
.container .nav-list li.hovered .icon-link::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
}

.container .nav-list li:hover .icon-link::before,
.container .nav-list li.hovered .icon-link::before {
    top: -50px;
    box-shadow: 35px 35px 0 10px var(--white);
}

.container .nav-list li:hover .icon-link::after,
.container .nav-list li.hovered .icon-link::after {
    bottom: -50px;
    box-shadow: 35px -35px 0 10px var(--white);
}

.container .nav-list li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.close .nav-list li .icon-link {
    display: block;
}



.container .nav-list li i {
    height: 50px;
    min-width: 65px;
    text-align: center;
    line-height: 50px;
    color: var(--yellow);
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.container.close .nav-list li i.arrow {
    display: none;
}

.container .nav-list li.show i.arrow {
    transform: rotate(-180deg);
}

.container .nav-list li a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container .nav-list li a .link-name {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    transition: all .4s ease;
}

.container .nav-list li:hover a .link-name,
.container .nav-list li.hovered a .link-name{
    color: var(--blue);
}

.container .nav-list li:hover a i,
.container .nav-list li.hovered a i {
    color: var(--blue);
}

.container .nav-list i:hover {
    color: var(--blue);
}

.container.close .nav-list li a .link-name {
    opacity: 0;
    pointer-events: none;
}


.container .nav-list li .sub-menu {
    padding:  5px ;
    margin-top: -10px;
    background: var(--white);
    display: none;
    transition: all .3s ease;
    border-radius: 10px;
}

.container .nav-list li.show .sub-menu {
    display: block;
}

.container .nav-list li .sub-menu a {
    color: var(--blue);
    font-size: 15px;
    padding: 2px 60px;
    white-space: nowrap;
    opacity: .6;
    transition: all .3s ease;
}

.container .nav-list li .sub-menu li a:hover {
    color: var(--yellow);
}

.container .nav-list li .sub-menu .link-name {
    display: none;
}

.container .nav-list li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.container ul li .profile-details {
    position: fixed;
    bottom: 0;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
    transition: all .5s ease;
    pointer-events: none;
}


.container ul li .profile-details .icon {
    position: relative;
    display: block;
    min-width: 44px; /* Mesma largura da logo */
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container ul li .profile-details .icon .fa {
    color: var(--yellow);
    font-size: 30px;
    margin-left: 9px;
}

.container ul li .profile-details .logout {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 52px;
    margin-right: 156px;
    white-space: nowrap;
    color: var(--white);
   
}


/***************************************************/

.home-container {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.container.close ~ .home-container{
    left: 60px;
    width: calc(100% - 60px);
}

.home-container .home-content {
    width: 100%;
    background: var(--white);
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-container .home-content .ic {
    color: var(--black1);
    font-size: 35px;
}

.home-container .home-content .ic{
    margin: 0 15px;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}

.search label .fa{
    position: absolute;
    left: 15px;
    top: 4px;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/***************************CARDS*******************************/
/**************************************************************/

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    z-index: 1000;
}

.cardBox .card {
    position: relative;
    background: var(--yellow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--light-blue);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBox {
    font-size: 2rem;
    color: var(--light-blue);
}

/***************************GRÁFICOS*******************************/
/**************************************************************/

.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    background: var(--white);
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}


/***************************ANIVERSARIANTES*******************************/
/**************************************************************/

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.details .recentOrders {
    position: relative;
    min-height: 530px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details .recentOrders .cardHeader h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2rem;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tbody tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentOrders table tbody tr td span {
    font-size: 20px;
    color: var(--black1);
}

.details .recentOrders table tr td {
    padding: 9px 5px;
}

.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child {
    text-align: center;
}

.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2) {
    text-align: center;
    padding-right: 20px;
}

.details .eventosProximos{
    position: relative;
    min-height: 530px;
    background: var(--white);
    padding: 20px;
}

.details .recentOrders .imgbx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.details .recentOrders .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* From Uiverse.io by Smit-Prajapati */ 
.parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;
  }
  
  .card {
    padding-top: 50px;
    /* border-radius: 10px; */
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
  }
  
  .card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
  
  .content-box {
    background: rgba(4, 193, 250, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
  }
  
  .content-box .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
  }
  
  .content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
  }
  
  .content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(7, 185, 255);
    /* border-radius: 5px; */
    background: white;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgb(7, 185, 255);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }
  
  .date-box span {
    display: block;
    text-align: center;
  }
  
  .date-box .month {
    color: rgb(4, 193, 250);
    font-size: 9px;
    font-weight: 700;
  }
  
  .date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: rgb(4, 193, 250);
  }


/***************************FORMS*******************************/
/***************************************************************/
.formularios-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}

.forms {
    position: relative;
    max-width: 650px;
    width: 100%;
    background: #fff;
    padding: 25px;
    margin-top: 40px;
    margin-left: 70px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(241, 237, 237, 0.2);
    border: 2px solid #03a9f4;
  }

  .forms-end {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(241, 237, 237, 0.2);
    border: 2px solid #03a9f4;
  }

  .forms-ig {
    position: relative;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #03a9f4;
  }

  .form-info-ig {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forms .form {
    margin-top: 15px;
  }

  /*.forms-end .form-end {
    margin-top: 15px;
  }

  .forms-ig .form-ig{
    margin-top: 15px;
  }*/
  
  .forms, .forms-end, .forms-ig {
    width: calc(50% - 20px); /* Divide o espaço igualmente entre os formulários */
    margin-bottom: 20px;
}

  .form-ig .input-box-ig {
    width: 100%;
    margin-top: 10px;
  }

  
  .form .input-box {
    width: 100%;
    margin-top: 10px;
  }

  .form-end .input-box-end {
    width: 100%;
    margin-top: 10px;
  }

  .input-box label {
    color: #000;
  }

  .input-box-end label {
    color: #000;
  }

  .input-box-ig label {
    color: #000;
  }
  
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #03a9f4;
    border-radius: 6px;
    padding: 0 15px;
    background: #fff;
  }

  .form-end :where(.input-box-end input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #03a9f4;
    border-radius: 6px;
    padding: 0 15px;
    background: #fff;
  }

  .form-ig :where(.input-box-ig input, .select-box-ig) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #03a9f4;
    border-radius: 6px;
    padding: 0 15px;
    background: #fff;
  }
 .form :where(.select-box-ig){
     height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #03a9f4;
    border-radius: 6px;
    padding: 0 15px;
    background: #fff;
 }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .input-box-end input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .input-box-ig input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .form .column {
    display: flex;
    column-gap: 15px;
  }

  .form .column-end {
    display: flex;
    column-gap: 15px;
  }

  .form-ig .column-ig {
    display: flex;
    column-gap: 15px;
    padding: 12px;
  }

  .forms-ig .form-title-ig {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
  }
  
  .form .gen-box {
    margin-top: 10px;
  }
  
  .form :where(.gen-option, .gen) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    border: #f8b300;
    
  }
  
  .form .gen {
    column-gap: 5px;
    border: #f8b300;
  }
  
  .gen input {
    accent-color: #f8b300;
    border: #f8b300;
  }
  
  .form :where(.gen input, .gen label) {
    cursor: pointer;
  }
  
  .gen label {
    color: black;
  }
  
  .address :where(input, .select-box) {
    margin-top: 10px;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #fff;
  }

  .select-box-ig select {
    height: 100%;
    width: 100%;
    
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #fff;
  }
  
  .home-container button {
    height: 40px;
    width: 40%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: var(--yellow);
  }
  
  .home-container button:hover {
    background: var(--light-blue);
  }

  .form .input-box-ig address label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .inpdddut[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: var(--white);
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  
  .submit {
   justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 7.5%;
  }

/*******************Media query**********************/

@media (max-width: 991px) {
    
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }

    .navigation {
        left: -300px;
    }

    .navigation.active {
        left: 0;
        width: 300px;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        width: calc(100% - 300px);
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 768px) {
	
	.formularios-container {
        grid-template-columns: 1fr;
    }
    
    .details {
        grid-template-columns: repeat(1,1fr);
    }
    
    .cardHeader h2{
        font-weight: 600;
        font-size: 18px;
    }
    
    .forms, .forms-end, .forms-ig {
        width: 100%; /* Ajusta para 100% em telas menores */
        max-width: none;
    }


	.submit {
	    text-align: center;
	    margin-top: 20px;
	}

	.submit button {
	    background-color: #4CAF50; /* Cor de fundo do botão */
	    color: white; /* Cor do texto */
	    padding: 10px 20px;
	    border: none;
	    cursor: pointer;
	    font-size: 16px;
	}

	.submit button:hover {
    	background-color: #45a049; /* Cor ao passar o mouse */
	}
    
   
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .details .recentOrders {
        overflow-x: auto;
    }

    .details .recentOrders table {
        width: 600px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        left: 0;
        width: 100%;
    }

    .toggle.active {
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }

    .toggle.active::before{
        color: var(--white);
    }

    .main,
    .main.active {
        width: 100%;
        left: 0;
    }
}

canvas {
    width: 100% !important;
    height: auto !important;
}

/************************************************/

@media (max-width: 400px) {
    .container.close .nav-list .sub-menu {
        display: none;
    }

    .container {
        width: 60px;
    }

    .container.close {
        width: 0;
    }

    .home-container {
        left: 60px;
        width: calc(100% - 60px);
        z-index: 100;
    }

    .container.close ~ .home-container {
        width: 100%;
        left: 0;
    }


}
#form-normal{

    justify-content: center;
    align-items: center;
}



.j1 {
    text-align: center;
    padding: 0;
}
.j1 .opcoes {
    text-align: 82px;
}

.j1 .opcoes {
    margin: 10px auto;
    width: 100vw;
    height: 30px;
    list-style: none;
    background: var(--white)
}

.j1 .opcoes li {
    margin-top: 8px;
    display: inline-block;
    background: var(--yellow);
    border-radius: 15px;
    height: 30px;
    margin-right: 10px;
}

.j1 .opcoes li a {
    text-decoration: none;
    color: var(--black1);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    font-weight: 400;    
    padding: 9px 25px;
}

.j1 .opcoes li a:hover {
    background: var(--light-blue);
    color: var(--white);
    border-radius: 15px;
}
.grupo-conteiner{
	z-index: -2;
	flex-wrap: nowrap;
}

/* Estilo para o artigo com a classe full-box */
.full-box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para o tile */
.tile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    transition: box-shadow 0.3s ease;
}

/* Estilo para o tile ao passar o mouse */
.tile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o título dentro do tile */
.tile h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

/* Estilo para o conteúdo dentro do tile */
.tile p {
    color: #666;
    line-height: 1.6;
}

  .forms, .forms-end, .forms-ig {
        padding: 15px;
    }
    
    .submit {
        text-align: center;
    }
    
    .submit button {
        width: 100%;
    }

